body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mg-top-5pc {
  margin-top: 5%;
}

.mg-top-2pc {
  margin-top: 2%;
}

.display-inline-block {
  display: inline-block;
}

.mr-right-10px {
  margin-right: 10px;
}

.button-color {
  width: 40px;
  height: 40px;
}

.color-active {
  border: 5px solid white;
}
